
h3 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    text-align: center;
}



form {
    width: 200px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.welcome {
    font-size: 25px;
    margin-top: 30px;
}

.input-boxes {
    margin-top: 30px;
}
.nameinput {
    
    border-radius: 8px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
}

.signupinput {
    border-radius: 8px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;  
}
.signuppassword {
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;  
}

.confpassword {
    border-radius: 8px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
    
}

.signupwrapper {
    height: 450px;
    width: 300px;
    /* display: flex;
    justify-content: space-between; */
    flex-direction: column;
    /* border-radius: 0px; */
}

.signupbutton {
    /* background-size: 200% 200%;
    transition: opacity 1.25s;
    background-image: radial-gradient( circle at center,var(--ihf-tp-q) 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% ); */
    background-color:#d70466 ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    border-radius: 8px;
    height: 36px;
    color: aliceblue;
    border-color: transparent;
    width: 185px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
}

.signupbutton:hover {
    background-color:#e61e4d;
}

p{
    cursor: pointer;
    font-size: smaller;
}


.buttondiv {
    padding-top: 10px;
}

input:focus ~ .floating-label11,
input:not(:focus):valid ~ .floating-label11{
    top: 140px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}

.floating-label11 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 150px;
    transition: 0.2s ease all;
    color: grey;
}

input:focus ~ .floating-label1,
input:not(:focus):valid ~ .floating-label1{
    top: 198px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}

.floating-label1 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 208px;
    transition: 0.2s ease all;
    color: grey;
}

input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
    top: 255px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}
.floating-label2 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 265px;
    transition: 0.2s ease all;
    color: grey;
}

input:focus ~ .floating-label3,
input:not(:focus):valid ~ .floating-label3{
    top: 315px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}


.floating-label3 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 325px;
    transition: 0.2s ease all;
    color: grey;
}

.error-list-sign{
    /* margin-left: 30px;
    margin-top: 30px; */
    list-style-type: square;
    font-size: small;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;;
    top: -110px;
    position: relative;
    width: 250px;
    margin-left: 50px;
}
