
h3 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    text-align: center;
}



form {
    width: 200px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.welcome {
    font-size: 25px;
    margin-top: 30px;
}

.input-boxes {
    margin-top: 60px;
}
.signupinput {
    
    border-radius: 8px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
}

.signuppassword {
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
    /* color: grey */
    /* font-size: 14px;
    width: 200px;
    height: 35px; */
    
}

.confpassword {
    border-radius: 8px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
    
}

.signupwrapper {
    height: 450px;
    width: 300px;
    /* display: flex;
    justify-content: space-between; */
    flex-direction: column;
    /* border-radius: 0px; */
}

.signupbutton {
    /* background-size: 200% 200%;
    transition: opacity 1.25s;
    background-image: radial-gradient( circle at center,var(--ihf-tp-q) 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% ); */
    background-color:#d70466 ;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    border-radius: 8px;
    height: 36px;
    color: aliceblue;
    border-color: transparent;
    width: 185px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 20px;
}

.signupbutton:hover {
    background-color:#e61e4d;
}

p{
    cursor: pointer;
    font-size: smaller;
}


.buttondiv {
    padding-top: 10px;
}

input:focus ~ .floating-label1,
input:not(:focus):valid ~ .floating-label1{
    top: 170px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}

.floating-label1 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 180px;
    transition: 0.2s ease all;
    color: grey;
}

input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
    top: 227px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}
.floating-label2 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 237px;
    transition: 0.2s ease all;
    color: grey;
}

input:focus ~ .floating-label3,
input:not(:focus):valid ~ .floating-label3{
    top: 285px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}


.floating-label3 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 295px;
    transition: 0.2s ease all;
    color: grey;
}

.error-list{
    margin-left: 30px;
}
