@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto&display=swap');

h3 {
    font-family: Roboto;
    text-align: center;
}

form {
    width: 200px;
    font-family: Roboto;
}

.signupinput {
    
    border-radius: 8px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
}

.signuppassword {
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
    /* color: grey */
    /* font-size: 14px;
    width: 200px;
    height: 35px; */
    
}

.confpassword {
    border-radius: 8px;
    height: 10px;
    background-color: transparent;
    padding: 26px 36px 10px 12px;
    border-width: thin ;
    
}

.signupwrapper {
    height: 450px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border-radius: 0px; */
}

.signupbutton {
    /* background-size: 200% 200%;
    transition: opacity 1.25s;
    background-image: radial-gradient( circle at center,var(--ihf-tp-q) 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% ); */
    background-color:#d70466 ;
    font-family: Roboto;
    border-radius: 8px;
    height: 36px;
    color: aliceblue;
    border-color: transparent;
    width: 185px;
    cursor: pointer;
}

.signupbutton:hover {
    background-color:#e61e4d;
}

p{
    cursor: pointer;
    font-size: smaller;
}


.buttondiv {
    padding-top: 10px;
}

input:focus ~ .floating-label1,
input:not(:focus):valid ~ .floating-label1{
    top: 190px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}

.floating-label1 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 200px;
    transition: 0.2s ease all;
    color: grey;
}

input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
    top: 247px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}
.floating-label2 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 257px;
    transition: 0.2s ease all;
    color: grey;
}

input:focus ~ .floating-label3,
input:not(:focus):valid ~ .floating-label3{
    top: 305px;
    bottom: 10px;
    left: 98px;
    font-size: 11px;
    opacity: 1;
}


.floating-label3 {
    position: absolute;
    pointer-events: none;
    left: 98px;
    top: 315px;
    transition: 0.2s ease all;
    color: grey;
}


