.DateRangePickerInput {
    border: none;
}



/* 
.CalendarDay__selected_span {
    background: lightgray; 
    color: white; 
    border: 1px solid lightgrey; 
}


.CalendarDay__selected {
    background: black;
    color: white;
    border: 1px solid lightgrey;
}


.CalendarDay__selected:hover {
    background: rgb(66, 65, 64);
    color: white;
    border: 1px solid lightgrey;
} 

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background: lightgrey;
}

.CalendarDay__selected_span:hover {
    background: rgb(66, 65, 64);
    color: white;
    border: 1px solid lightgrey;
} */